*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #282c34;
}

.main{
  background: url(/images/lasvegas.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-color: #C3A85D;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main img{
  height: 50vh;
}

.main input {
  height: 2.2rem;
}

.main button{
  background-color: rgb(226, 133, 222);
  height: 2.5rem;
  font-size: 20px;
  border: none;
}


nav{
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
  height: 10vh;
}

nav ul{
  display: flex;
  list-style: none;
}
 nav ul a{
  text-decoration: none;
  color: #E6E6E6;
}

nav ul li {
  padding: 0 1rem;
}

footer{
  width: 100%;
  padding: 20px;
  background-color: #282c34;
  text-align: center;
  color: #E6E6E6;
}

.card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.items-card{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 320px;
  width: 400px;
 background-color: #C3A85D;
}


.img-card{
  width: 400px;
  height: auto;
}

.card-main{
  display: flex;
}


form{
  background-color: #fff;
  border-radius: 25px;
}

 input {
  border: none;
  border-radius: 20px;
}

i{
  padding: 10px;
}

.search-house{
  font-size: 1.5rem;
}

.fa-close{
  color: #C3A85D;
}

.fa-search{
  color: #E6E6E6;
}

.title{
  margin-bottom: 2rem;
  color: #fff;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.card-title{
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.price{
  font-size: large;
  font-weight: bold;
}

.subtitle > span{
  padding-left: 0.5rem;
}


